.wrapper
    padding: 0 1em
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr))
    grid-gap: 0.8em
    margin: auto 0
    width: 100%
    max-width: 70vmin
    align-self: center
